.main{
  display: flex;
  justify-content: space-around;
  margin: 3%;
}
.container {
  width: auto;
  margin: 0 auto;
  /* padding: 20px; */
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.btn{
  padding: 8px 15px;
  border: none;
  background-color: #713af3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #a477f7;
}
.inputDiv{
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: px;
   /* text-align: center; 
  align-items: center;
  justify-content: center; */
}
.inputTask,.inputDueDate{
  text-align: left;
  font-weight: bold;
  width: 93%;
  /* margin-left: 10%; */
  margin: 5px ;
  font-family: sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
span{
  text-align: left;
}
.radio{
  display: flex;
  flex-direction: row;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
