<div class="container">
    <h1>SignUp Form</h1>
    <form (submit)="submit()" #taskForm="ngForm">
        <div class="form-group"> 
            <label for="username">Username</label><br>
            <input type="text" name="username" class="form-control" ngModel required #username="ngModel" minlength="1" maxlength="20">
        </div>

        <div class="alert alert-danger" *ngIf="username.touched && username.invalid">
            <p *ngIf="username.errors?.['required']">Username Required!</p>
            <p *ngIf="username.errors?.['pattern']">Invalid Username!</p>
        </div>

        <pre></pre>

        <div class="form-group">
            <label for="password">Password</label><br>
            <input type="password" name="password" class="form-control" ngModel required minlength="8" maxlength="20" #password="ngModel">
        </div>

        <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
            <p *ngIf="password.errors?.['required']">Password Required!</p>
            <p *ngIf="password.errors?.['minlength']">Password should be at least 8 characters long!</p>
        </div>

        <pre></pre>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label><br>
            <input type="password" name="confirmPassword" class="form-control" ngModel required minlength="8" maxlength="20" #confirmPassword="ngModel">
        </div>

        <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <p *ngIf="confirmPassword.errors?.['required']">Confirm Password Required!</p>
            <p *ngIf="confirmPassword.errors?.['minlength']">Password should be at least 8 characters long!</p>
        </div>

        <pre></pre>

        <button class="btn btn-primary" type="submit" [disabled]="!taskForm.form.valid || password.value !== confirmPassword.value || isUsernameExist()">Submit</button>
    </form>
</div>
